html * {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.occupy-top-10 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 10%;
}

.occupy-top-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-top-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-bottom-10 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-top-25 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 25%;
}

.occupy-top-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-top-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-bottom-25 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-top-35 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 35%;
}

.occupy-top-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-top-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-bottom-35 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-top-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom-50 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-top-60 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 60%;
}

.occupy-top-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-top-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-bottom-60 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-top-75 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 75%;
}

.occupy-top-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-top-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-bottom-75 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-top-90 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 90%;
}

.occupy-top-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-top-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-bottom-90 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-top-10 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 10%;
}

.occupy-top-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-top-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-bottom-10 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-top-25 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 25%;
}

.occupy-top-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-top-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-bottom-25 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-top-35 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 35%;
}

.occupy-top-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-top-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-bottom-35 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-top-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom-50 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-top-60 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 60%;
}

.occupy-top-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-top-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-bottom-60 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-top-75 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 75%;
}

.occupy-top-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-top-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-bottom-75 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-top-90 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 90%;
}

.occupy-top-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-top-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-bottom-90 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.section-15dvh {
  height: 15dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-25dvh {
  height: 25dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-35dvh {
  height: 35dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-50dvh {
  height: 50dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-65dvh {
  height: 65dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-75dvh {
  height: 75dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-85dvh {
  height: 85dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-100dvh {
  height: 100dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.position-center-on-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-top-left-on-parent {
  top: 0;
  left: 0;
  position: absolute;
}

.position-top-right-on-parent {
  top: 0;
  right: 0;
  position: absolute;
}

.position-bottom-left-on-parent {
  bottom: 0;
  left: 0;
  position: absolute;
}

.position-bottom-right-on-parent {
  bottom: 0;
  right: 0;
  position: absolute;
}

.position-bottom-center-on-parent {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-top-center-on-parent {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-center-left-on-parent {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

.position-center-right-on-parent {
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  position: absolute;
}

.position-center-on-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-top-left-on-screen {
  top: 0;
  left: 0;
  position: fixed;
}

.position-top-right-on-screen {
  top: 0;
  right: 0;
  position: fixed;
}

.position-bottom-left-on-screen {
  bottom: 0;
  left: 0;
  position: fixed;
}

.position-bottom-right-on-screen {
  bottom: 0;
  right: 0;
  position: fixed;
}

.position-bottom-center-on-screen {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.position-top-center-on-screen {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.position-center-left-on-screen {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: fixed;
}

.position-center-right-on-screen {
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  position: fixed;
}

.font-size-xxs {
  font-size: 0.5em;
}

.font-size-xs {
  font-size: 0.75em;
}

.font-size-s {
  font-size: 1em;
}

.font-size-m {
  font-size: 1.5em;
}

.font-size-l {
  font-size: 2em;
}

.font-size-xl {
  font-size: 3.5em;
}

.font-size-xxl {
  font-size: 5em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-thin {
  font-weight: thin;
}

.font-weight-light {
  font-weight: light;
}

.font-weight-medium {
  font-weight: medium;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.txt-align-left {
  text-align: left;
}

.txt-align-right {
  text-align: right;
}

.txt-align-center {
  text-align: center;
}

/* padding sizes */
.padding-xxs {
  padding: 1px;
}

.padding-xs {
  padding: 2.5px;
}

.padding-s {
  padding: 5px;
}

.padding-m {
  padding: 7.5px;
}

.padding-l {
  padding: 10px;
}

.padding-xl {
  padding: 15px;
}

.padding-xxl {
  padding: 20px;
}

/* margin sizes  */
.margin-xxs {
  margin: 1px;
}

.margin-xs {
  margin: 2.5px;
}

.margin-s {
  margin: 5px;
}

.margin-m {
  margin: 7.5px;
}

.margin-l {
  margin: 10px;
}

.margin-xl {
  margin: 15px;
}

.margin-xxl {
  margin: 20px;
}

/* border sizes  */
.border-weight-xxs {
  border-width: 1px;
}

.border-weight-xs {
  border-width: 2.5px;
}

.border-weight-s {
  border-width: 5px;
}

.border-weight-m {
  border-width: 7.5px;
}

.border-weight-l {
  border-width: 10px;
}

.border-weight-xl {
  border-width: 15px;
}

.border-weight-xxl {
  border-width: 20px;
}

.--front-layer {
  z-index: 99;
}

.--middle-layer {
  z-index: 20;
}

.--back-layer {
  z-index: 1;
}

.--z-index-1 {
  z-index: 1;
}

.--z-index-2 {
  z-index: 2;
}

.--z-index-3 {
  z-index: 3;
}

.--z-index-4 {
  z-index: 4;
}

.--z-index-5 {
  z-index: 5;
}

.--z-index-6 {
  z-index: 6;
}

.--z-index-7 {
  z-index: 7;
}

.--z-index-8 {
  z-index: 8;
}

.--z-index-9 {
  z-index: 9;
}

.--z-index-10 {
  z-index: 10;
}

.--z-index-11 {
  z-index: 11;
}

.--z-index-12 {
  z-index: 12;
}

.--z-index-13 {
  z-index: 13;
}

.--z-index-14 {
  z-index: 14;
}

.--z-index-15 {
  z-index: 15;
}

.--z-index-16 {
  z-index: 16;
}

.--z-index-17 {
  z-index: 17;
}

.--z-index-18 {
  z-index: 18;
}

.--z-index-19 {
  z-index: 19;
}

.--z-index-20 {
  z-index: 20;
}

.--z-index-21 {
  z-index: 21;
}

.--z-index-22 {
  z-index: 22;
}

.--z-index-23 {
  z-index: 23;
}

.--z-index-24 {
  z-index: 24;
}

.--z-index-25 {
  z-index: 25;
}

.--z-index-26 {
  z-index: 26;
}

.--z-index-27 {
  z-index: 27;
}

.--z-index-28 {
  z-index: 28;
}

.--z-index-29 {
  z-index: 29;
}

.--z-index-30 {
  z-index: 30;
}

.--z-index-31 {
  z-index: 31;
}

.--z-index-32 {
  z-index: 32;
}

.--z-index-33 {
  z-index: 33;
}

.--z-index-34 {
  z-index: 34;
}

.--z-index-35 {
  z-index: 35;
}

.--z-index-36 {
  z-index: 36;
}

.--z-index-37 {
  z-index: 37;
}

.--z-index-38 {
  z-index: 38;
}

.--z-index-39 {
  z-index: 39;
}

.--z-index-40 {
  z-index: 40;
}

.--z-index-41 {
  z-index: 41;
}

.--z-index-42 {
  z-index: 42;
}

.--z-index-43 {
  z-index: 43;
}

.--z-index-44 {
  z-index: 44;
}

.--z-index-45 {
  z-index: 45;
}

.--z-index-46 {
  z-index: 46;
}

.--z-index-47 {
  z-index: 47;
}

.--z-index-48 {
  z-index: 48;
}

.--z-index-49 {
  z-index: 49;
}

.--z-index-50 {
  z-index: 50;
}

.--z-index-51 {
  z-index: 51;
}

.--z-index-52 {
  z-index: 52;
}

.--z-index-53 {
  z-index: 53;
}

.--z-index-54 {
  z-index: 54;
}

.--z-index-55 {
  z-index: 55;
}

.--z-index-56 {
  z-index: 56;
}

.--z-index-57 {
  z-index: 57;
}

.--z-index-58 {
  z-index: 58;
}

.--z-index-59 {
  z-index: 59;
}

.--z-index-60 {
  z-index: 60;
}

.--z-index-61 {
  z-index: 61;
}

.--z-index-62 {
  z-index: 62;
}

.--z-index-63 {
  z-index: 63;
}

.--z-index-64 {
  z-index: 64;
}

.--z-index-65 {
  z-index: 65;
}

.--z-index-66 {
  z-index: 66;
}

.--z-index-67 {
  z-index: 67;
}

.--z-index-68 {
  z-index: 68;
}

.--z-index-69 {
  z-index: 69;
}

.--z-index-70 {
  z-index: 70;
}

.--z-index-71 {
  z-index: 71;
}

.--z-index-72 {
  z-index: 72;
}

.--z-index-73 {
  z-index: 73;
}

.--z-index-74 {
  z-index: 74;
}

.--z-index-75 {
  z-index: 75;
}

.--z-index-76 {
  z-index: 76;
}

.--z-index-77 {
  z-index: 77;
}

.--z-index-78 {
  z-index: 78;
}

.--z-index-79 {
  z-index: 79;
}

.--z-index-80 {
  z-index: 80;
}

.--z-index-81 {
  z-index: 81;
}

.--z-index-82 {
  z-index: 82;
}

.--z-index-83 {
  z-index: 83;
}

.--z-index-84 {
  z-index: 84;
}

.--z-index-85 {
  z-index: 85;
}

.--z-index-86 {
  z-index: 86;
}

.--z-index-87 {
  z-index: 87;
}

.--z-index-88 {
  z-index: 88;
}

.--z-index-89 {
  z-index: 89;
}

.--z-index-90 {
  z-index: 90;
}

.--z-index-91 {
  z-index: 91;
}

.--z-index-92 {
  z-index: 92;
}

.--z-index-93 {
  z-index: 93;
}

.--z-index-94 {
  z-index: 94;
}

.--z-index-95 {
  z-index: 95;
}

.--z-index-96 {
  z-index: 96;
}

.--z-index-97 {
  z-index: 97;
}

.--z-index-98 {
  z-index: 98;
}

.--z-index-99 {
  z-index: 99;
}

.--z-index-100 {
  z-index: 100;
}

.--z-index-101 {
  z-index: 101;
}

.--z-index-102 {
  z-index: 102;
}

.--z-index-103 {
  z-index: 103;
}

.--z-index-104 {
  z-index: 104;
}

.--z-index-105 {
  z-index: 105;
}

.--z-index-106 {
  z-index: 106;
}

.--z-index-107 {
  z-index: 107;
}

.--z-index-108 {
  z-index: 108;
}

.--z-index-109 {
  z-index: 109;
}

.--z-index-110 {
  z-index: 110;
}

.--z-index-111 {
  z-index: 111;
}

.--z-index-112 {
  z-index: 112;
}

.--z-index-113 {
  z-index: 113;
}

.--z-index-114 {
  z-index: 114;
}

.--z-index-115 {
  z-index: 115;
}

.--z-index-116 {
  z-index: 116;
}

.--z-index-117 {
  z-index: 117;
}

.--z-index-118 {
  z-index: 118;
}

.--z-index-119 {
  z-index: 119;
}

.--z-index-120 {
  z-index: 120;
}

.--z-index-121 {
  z-index: 121;
}

.--z-index-122 {
  z-index: 122;
}

.--z-index-123 {
  z-index: 123;
}

.--z-index-124 {
  z-index: 124;
}

.--z-index-125 {
  z-index: 125;
}

.--z-index-126 {
  z-index: 126;
}

.--z-index-127 {
  z-index: 127;
}

.--z-index-128 {
  z-index: 128;
}

.--z-index-129 {
  z-index: 129;
}

.--z-index-130 {
  z-index: 130;
}

.--z-index-131 {
  z-index: 131;
}

.--z-index-132 {
  z-index: 132;
}

.--z-index-133 {
  z-index: 133;
}

.--z-index-134 {
  z-index: 134;
}

.--z-index-135 {
  z-index: 135;
}

.--z-index-136 {
  z-index: 136;
}

.--z-index-137 {
  z-index: 137;
}

.--z-index-138 {
  z-index: 138;
}

.--z-index-139 {
  z-index: 139;
}

.--z-index-140 {
  z-index: 140;
}

.--z-index-141 {
  z-index: 141;
}

.--z-index-142 {
  z-index: 142;
}

.--z-index-143 {
  z-index: 143;
}

.--z-index-144 {
  z-index: 144;
}

.--z-index-145 {
  z-index: 145;
}

.--z-index-146 {
  z-index: 146;
}

.--z-index-147 {
  z-index: 147;
}

.--z-index-148 {
  z-index: 148;
}

.--z-index-149 {
  z-index: 149;
}

.--z-index-150 {
  z-index: 150;
}

.--z-index-151 {
  z-index: 151;
}

.--z-index-152 {
  z-index: 152;
}

.--z-index-153 {
  z-index: 153;
}

.--z-index-154 {
  z-index: 154;
}

.--z-index-155 {
  z-index: 155;
}

.--z-index-156 {
  z-index: 156;
}

.--z-index-157 {
  z-index: 157;
}

.--z-index-158 {
  z-index: 158;
}

.--z-index-159 {
  z-index: 159;
}

.--z-index-160 {
  z-index: 160;
}

.--z-index-161 {
  z-index: 161;
}

.--z-index-162 {
  z-index: 162;
}

.--z-index-163 {
  z-index: 163;
}

.--z-index-164 {
  z-index: 164;
}

.--z-index-165 {
  z-index: 165;
}

.--z-index-166 {
  z-index: 166;
}

.--z-index-167 {
  z-index: 167;
}

.--z-index-168 {
  z-index: 168;
}

.--z-index-169 {
  z-index: 169;
}

.--z-index-170 {
  z-index: 170;
}

.--z-index-171 {
  z-index: 171;
}

.--z-index-172 {
  z-index: 172;
}

.--z-index-173 {
  z-index: 173;
}

.--z-index-174 {
  z-index: 174;
}

.--z-index-175 {
  z-index: 175;
}

.--z-index-176 {
  z-index: 176;
}

.--z-index-177 {
  z-index: 177;
}

.--z-index-178 {
  z-index: 178;
}

.--z-index-179 {
  z-index: 179;
}

.--z-index-180 {
  z-index: 180;
}

.--z-index-181 {
  z-index: 181;
}

.--z-index-182 {
  z-index: 182;
}

.--z-index-183 {
  z-index: 183;
}

.--z-index-184 {
  z-index: 184;
}

.--z-index-185 {
  z-index: 185;
}

.--z-index-186 {
  z-index: 186;
}

.--z-index-187 {
  z-index: 187;
}

.--z-index-188 {
  z-index: 188;
}

.--z-index-189 {
  z-index: 189;
}

.--z-index-190 {
  z-index: 190;
}

.--z-index-191 {
  z-index: 191;
}

.--z-index-192 {
  z-index: 192;
}

.--z-index-193 {
  z-index: 193;
}

.--z-index-194 {
  z-index: 194;
}

.--z-index-195 {
  z-index: 195;
}

.--z-index-196 {
  z-index: 196;
}

.--z-index-197 {
  z-index: 197;
}

.--z-index-198 {
  z-index: 198;
}

.--z-index-199 {
  z-index: 199;
}

.--z-index-200 {
  z-index: 200;
}

.-prevent-scroll {
  overflow: none;
}

.-object-fit {
  object-fit: contain;
}

.-object-cover {
  object-fit: contain;
}/*# sourceMappingURL=velocity.func.css.map */