html * {
  position: relative;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bg-black {
  background: black;
}

.bg-white {
  background: white;
}

.bg-red {
  background: red;
}

.bg-darkred {
  background: darkred;
}

.bg-orange {
  background: orange;
}

.bg-darkorange {
  background: darkorange;
}

.bg-yellow {
  background: yellow;
}

.bg-lightyellow {
  background: lightyellow;
}

.bg-green {
  background: green;
}

.bg-blue {
  background: blue;
}

.bg-darkblue {
  background: darkblue;
}

.bg-purple {
  background: purple;
}

.bg-pink {
  background: pink;
}

.bg-lightpink {
  background: lightpink;
}

.bg-gray {
  background: gray;
}

.bg-darkgray {
  background: darkgray;
}

.bg-lightgray {
  background: lightgray;
}

.clr-black {
  color: black;
}

.clr-white {
  color: white;
}

.clr-red {
  color: red;
}

.clr-darkred {
  color: darkred;
}

.clr-orange {
  color: orange;
}

.clr-darkorange {
  color: darkorange;
}

.clr-yellow {
  color: yellow;
}

.clr-lightyellow {
  color: lightyellow;
}

.clr-green {
  color: green;
}

.clr-blue {
  color: blue;
}

.clr-darkblue {
  color: darkblue;
}

.clr-purple {
  color: purple;
}

.clr-pink {
  color: pink;
}

.clr-lightpink {
  color: lightpink;
}

.clr-gray {
  color: gray;
}

.clr-darkgray {
  color: darkgray;
}

.clr-lightgray {
  color: lightgray;
}

.occupy-top {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-left {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-right {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-top-left {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-right {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom-left {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-right {
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.section {
  height: 50dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-fs {
  height: 100dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.position-center-on-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-center-on-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-top-left-on-parent {
  top: 0;
  left: 0;
  position: absolute;
}

.position-top-right-on-parent {
  top: 0;
  right: 0;
  position: absolute;
}

.position-bottom-left-on-parent {
  bottom: 0;
  left: 0;
  position: absolute;
}

.position-bottom-right-on-parent {
  bottom: 0;
  right: 0;
  position: absolute;
}

.position-bottom-center-on-parent {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-top-center-on-parent {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-center-left-on-parent {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

.position-center-right-on-parent {
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  position: absolute;
}

.font-size-xxs {
  font-size: 0.5em;
}

.font-size-xs {
  font-size: 0.75em;
}

.font-size-s {
  font-size: 1em;
}

.font-size-m {
  font-size: 1.5em;
}

.font-size-l {
  font-size: 2em;
}

.font-size-xl {
  font-size: 3.5em;
}

.font-size-xxl {
  font-size: 5em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.txt-align-left {
  text-align: left;
}

.txt-align-right {
  text-align: right;
}

.txt-align-center {
  text-align: center;
}

.prevent-scroll {
  overflow: none;
}/*# sourceMappingURL=velocity.func.css.map */