html * {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.occupy-top-10 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 10%;
}

.occupy-top-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-top-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-bottom-10 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-left-10 {
  position: absolute;
  left: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-right-10 {
  position: absolute;
  right: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-top-25 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 25%;
}

.occupy-top-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-top-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-bottom-25 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-left-25 {
  position: absolute;
  left: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-right-25 {
  position: absolute;
  right: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-top-35 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 35%;
}

.occupy-top-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-top-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-bottom-35 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-left-35 {
  position: absolute;
  left: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-right-35 {
  position: absolute;
  right: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-top-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom-50 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-left-50 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-right-50 {
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-top-60 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 60%;
}

.occupy-top-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-top-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-bottom-60 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-left-60 {
  position: absolute;
  left: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-right-60 {
  position: absolute;
  right: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-top-75 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 75%;
}

.occupy-top-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-top-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-bottom-75 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-left-75 {
  position: absolute;
  left: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-right-75 {
  position: absolute;
  right: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-top-90 {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 90%;
}

.occupy-top-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-top-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-bottom-90 {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-left-90 {
  position: absolute;
  left: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-right-90 {
  position: absolute;
  right: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-top-10 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 10%;
}

.occupy-top-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-top-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  top: 0;
  height: 10%;
}

.occupy-bottom-10 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-bottom-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  bottom: 0;
  height: 10%;
}

.occupy-left-10 {
  position: fixed;
  left: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-right-10 {
  position: fixed;
  right: 0;
  width: 10%;
  top: 0;
  height: 100%;
}

.occupy-top-25 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 25%;
}

.occupy-top-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-top-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  top: 0;
  height: 25%;
}

.occupy-bottom-25 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-bottom-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  bottom: 0;
  height: 25%;
}

.occupy-left-25 {
  position: fixed;
  left: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-right-25 {
  position: fixed;
  right: 0;
  width: 25%;
  top: 0;
  height: 100%;
}

.occupy-top-35 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 35%;
}

.occupy-top-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-top-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  top: 0;
  height: 35%;
}

.occupy-bottom-35 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-bottom-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  bottom: 0;
  height: 35%;
}

.occupy-left-35 {
  position: fixed;
  left: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-right-35 {
  position: fixed;
  right: 0;
  width: 35%;
  top: 0;
  height: 100%;
}

.occupy-top-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-top-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  top: 0;
  height: 50%;
}

.occupy-bottom-50 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-bottom-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
}

.occupy-left-50 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-right-50 {
  position: fixed;
  right: 0;
  width: 50%;
  top: 0;
  height: 100%;
}

.occupy-top-60 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 60%;
}

.occupy-top-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-top-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  top: 0;
  height: 60%;
}

.occupy-bottom-60 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-bottom-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  bottom: 0;
  height: 60%;
}

.occupy-left-60 {
  position: fixed;
  left: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-right-60 {
  position: fixed;
  right: 0;
  width: 60%;
  top: 0;
  height: 100%;
}

.occupy-top-75 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 75%;
}

.occupy-top-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-top-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  top: 0;
  height: 75%;
}

.occupy-bottom-75 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-bottom-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  bottom: 0;
  height: 75%;
}

.occupy-left-75 {
  position: fixed;
  left: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-right-75 {
  position: fixed;
  right: 0;
  width: 75%;
  top: 0;
  height: 100%;
}

.occupy-top-90 {
  position: fixed;
  left: 0;
  width: 50%;
  top: 0;
  height: 90%;
}

.occupy-top-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-top-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  top: 0;
  height: 90%;
}

.occupy-bottom-90 {
  position: fixed;
  left: 0;
  width: 50%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-bottom-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  bottom: 0;
  height: 90%;
}

.occupy-left-90 {
  position: fixed;
  left: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.occupy-right-90 {
  position: fixed;
  right: 0;
  width: 90%;
  top: 0;
  height: 100%;
}

.section-15dvh {
  height: 15dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-25dvh {
  height: 25dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-35dvh {
  height: 35dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-50dvh {
  height: 50dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-65dvh {
  height: 65dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-75dvh {
  height: 75dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-85dvh {
  height: 85dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.section-100dvh {
  height: 100dvh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}

.position-center-on-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-top-left-on-parent {
  top: 0;
  left: 0;
  position: absolute;
}

.position-top-right-on-parent {
  top: 0;
  right: 0;
  position: absolute;
}

.position-bottom-left-on-parent {
  bottom: 0;
  left: 0;
  position: absolute;
}

.position-bottom-right-on-parent {
  bottom: 0;
  right: 0;
  position: absolute;
}

.position-bottom-center-on-parent {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-top-center-on-parent {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.position-center-left-on-parent {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

.position-center-right-on-parent {
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  position: absolute;
}

.position-center-on-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-top-left-on-screen {
  top: 0;
  left: 0;
  position: fixed;
}

.position-top-right-on-screen {
  top: 0;
  right: 0;
  position: fixed;
}

.position-bottom-left-on-screen {
  bottom: 0;
  left: 0;
  position: fixed;
}

.position-bottom-right-on-screen {
  bottom: 0;
  right: 0;
  position: fixed;
}

.position-bottom-center-on-screen {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.position-top-center-on-screen {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}

.position-center-left-on-screen {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: fixed;
}

.position-center-right-on-screen {
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  position: fixed;
}

.font-size-xxs {
  font-size: 0.5em;
}

.font-size-xs {
  font-size: 0.75em;
}

.font-size-s {
  font-size: 1em;
}

.font-size-m {
  font-size: 1.5em;
}

.font-size-l {
  font-size: 2em;
}

.font-size-xl {
  font-size: 3.5em;
}

.font-size-xxl {
  font-size: 5em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-thin {
  font-weight: thin;
}

.font-weight-light {
  font-weight: light;
}

.font-weight-medium {
  font-weight: medium;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.txt-align-left {
  text-align: left;
}

.txt-align-right {
  text-align: right;
}

.txt-align-center {
  text-align: center;
}

/* padding sizes */
.padding-xxs {
  padding: 1px;
}

.padding-xs {
  padding: 2.5px;
}

.padding-s {
  padding: 5px;
}

.padding-m {
  padding: 7.5px;
}

.padding-l {
  padding: 10px;
}

.padding-xl {
  padding: 15px;
}

.padding-xxl {
  padding: 20px;
}

/* margin sizes  */
.margin-xxs {
  margin: 1px;
}

.margin-xs {
  margin: 2.5px;
}

.margin-s {
  margin: 5px;
}

.margin-m {
  margin: 7.5px;
}

.margin-l {
  margin: 10px;
}

.margin-xl {
  margin: 15px;
}

.margin-xxl {
  margin: 20px;
}

.-prevent-scroll {
  overflow: none;
}

.-object-fit {
  object-fit: contain;
}

.-object-cover {
  object-fit: contain;
}

.bg-dark-1 {
  background: #282828;
}

.txt-dark-1 {
  color: #e3e3e3;
}

.border-radius-xxs {
  border-radius: 0.1vmin;
}

.border-radius-xs {
  border-radius: 0.35vmin;
}

.border-radius-s {
  border-radius: 0.65vmin;
}

.border-radius-m {
  border-radius: 1vmin;
}

.border-radius-l {
  border-radius: 1.5vmin;
}

.border-radius-xl {
  border-radius: 2vmin;
}

.border-radius-xxl {
  border-radius: 3vmin;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000000;
}

.bg-red {
  background: #e92f2f;
}

.bg-darkred {
  background: #971a1a;
}

.bg-orange {
  background: #e9832f;
}

.bg-darkorange {
  background: #ac5610;
}

.bg-lightyellow {
  background: #f2e782;
}

.bg-yellow {
  background: #f2e145;
}

.bg-green {
  background: #4ee92f;
}

.bg-darkgreen {
  background: #288815;
}

.bg-blue {
  background: #2b9fe6;
}

.bg-darkblue {
  background: #0f347d;
}

.bg-purple {
  background: #8819ff;
}

.bg-magenta {
  background: #bb1df0;
}

.bg-lightpink {
  background: #ee82df;
}

.bg-pink {
  background: #f01dd4;
}

.bg-lightgray {
  background: #a6a6a6;
}

.bg-midgray {
  background: #818181;
}

.bg-gray {
  background: #535353;
}

.bg-darkgray {
  background: #343434;
}

.bg-darkestgray {
  background: #161616;
}

.bg-lighterslate {
  background: #6f7488;
}

.bg-lightslate {
  background: #4b4f5f;
}

.bg-slate {
  background: #343743;
}

.bg-darkslate {
  background: #1c1e25;
}

.bg-plum {
  background: #993879;
}

.bg-lightplum {
  background: #c4509d;
}

.bg-darkplum {
  background: #64254f;
}

.clr-white {
  color: #fff;
}

.clr-black {
  color: #000000;
}

.clr-red {
  color: #e92f2f;
}

.clr-darkred {
  color: #971a1a;
}

.clr-orange {
  color: #e9832f;
}

.clr-darkorange {
  color: #ac5610;
}

.clr-lightyellow {
  color: #f2e782;
}

.clr-yellow {
  color: #f2e145;
}

.clr-green {
  color: #4ee92f;
}

.clr-darkgreen {
  color: #288815;
}

.clr-blue {
  color: #2b9fe6;
}

.clr-darkblue {
  color: #0f347d;
}

.clr-purple {
  color: #8819ff;
}

.clr-magenta {
  color: #bb1df0;
}

.clr-lightpink {
  color: #ee82df;
}

.clr-pink {
  color: #f01dd4;
}

.clr-lightgray {
  color: #a6a6a6;
}

.clr-midgray {
  color: #818181;
}

.clr-gray {
  color: #535353;
}

.clr-darkgray {
  color: #343434;
}

.clr-darkestgray {
  color: #161616;
}

.clr-lighterslate {
  color: #6f7488;
}

.clr-lightslate {
  color: #4b4f5f;
}

.clr-slate {
  color: #343743;
}

.clr-darkslate {
  color: #1c1e25;
}

.clr-plum {
  color: #993879;
}

.clr-lightplum {
  color: #c4509d;
}

.clr-darkplum {
  color: #64254f;
}/*# sourceMappingURL=velocity.full.css.map */